.site-header {
  background: #fff;
  .page-static & {
    border-bottom: none;
  }
  .header-inner {
    border: none;
  }
}
.map-col, .menu-col, .lang-col, .currency-col {
  position: relative;
  float: left;
  width: 33.333333%;
  height: 50px;
  @media (max-width: $container-width-2) {
    .currency-selector-active & {
      width: 25%;
    }
  }
}
.lang-col {
  position: relative;
  float: left;
  width: 33.333333%;
  height: 30px;
  @media (max-width: $container-width-2) {
    .currency-selector-active & {
      width: 25%;
    }
  }
}
.logo {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: left;
  direction: ltr;
  img {
    @include img-responsive();
    margin-left: auto;
    margin-right: auto;
  }
  a.logo-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts {
    display: none;
    color: $text-dark-color;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    > div {
      display: inline-block;
      padding-left: 30px;
      position: relative;
      &::before {
        font-family: 'Linearicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        transform: translate(0, 0);
        /* Enable Ligatures ================ */
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        font-size: 20px;
        top: 50%;
        margin-top: -10px;
        left: 0;
      }
      .contact-phone {

      }
      .header-left & {
        &:first-child {
          margin-right: 25px;
        }
      }
    }
  }
  @media (min-width: $container-width-1) {
    a.logo-link {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: $container-width-3) {
    a.logo-link {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0;
      margin-right: 0;
      .header-left & {
        img {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    .contacts {
      display: inline-block;
      vertical-align: middle;
    }
    .header-left & {
      .contacts {
        width: $container-width-3 - 380;
        text-align: right;
      }
    }
    .header-center & {
      .contacts {
        width: ($container-width-3 - 380) / 2;
        &.contacts-right {
          text-align: right;
        }
      }

    }
  }
}
.map-col {
  .map-toggle {
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 15px 10px;
  }
  @media (min-width: $container-width-1) {
    .map-toggle {
      font-size: 30px;
      padding: 10px;
    }
  }
  @media (min-width: $container-width-2) {
    display: none;
  }
}
.menu-col, .lang-col, .currency-col {
  text-align: center;
  @media (min-width: $container-width-2) {
    width: $top-col-width370;
    float: right;
  }
}
.menu-toggle, .lang-toggle {
  display: block;
  height: 100%;
}
.currency-selector-active {
  > .container {
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: $container-width-1) {
    > .container {
      padding-left: $container-padding;
      padding-right: $container-padding;
    }
  }
}
.select2-dropdown.currency-switcher-dropdown {
  margin: 1px 0 0;
  .select2-results__options {
    border-color: #e6e6e6;
    padding: 4px;
    .select2-results__option {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  @media (min-width: $container-width-2) {
    margin-left: 0;
  }
}
.currency-col {
  select {
    display: none;
  }
  .select2-container,
  .price-select,
  .select2-selection__rendered {
    height: 100% !important;
    line-height: 50px !important;
  }
  .select2-container {
    .price-select {
      border-color: #e6e6e6;
      border-width: 0 1px 0 1px;
      font-size: 14px;
      .select2-selection__arrow {
        height: 49px;
        right: 50%;
        margin-right: -27px;
        b {
          right: 0;
          top: 0;
        }
      }
      .select2-selection__rendered {
        padding-left: 13px;
        padding-right: 35px;
        text-align: center;
      }
    }
  }
  @media (min-width: $container-width-3) {
    right: $top-col-width370;
  }
}
.menu-col {
  display: block;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  .currency-selector-active & {
    border-right: none;
  }
  .menu-toggle {
    margin: 0;
    padding: 0;
    border: none;
    text-shadow: none;
    position: relative;
    &:before {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
      @include make-linicon("\e92b");
      @media (min-width: $screen370) {
        font-size: 30px;
        margin-top: -15px;
        margin-left: -15px;
      }
    }
  }
  @media (min-width: $container-width-2) {
    right: $top-col-width370;
    .currency-selector-active & {
      right: 2 * $top-col-width370;
    }
  }
  @media (min-width: $container-width-3) {
    display: none;
  }
}
.lang-col {
  @media (min-width: $container-width-2) {
    left: $top-col-width370;
    border-right:none;
    .currency-selector-active & {
      left: 2 * $top-col-width370;
    }
  }
  @media (min-width: $container-width-3) {
    border-left:none;
    left: auto;
    .currency-selector-active & {
      left: $top-col-width370;
    }
  }
}

/* Desktop menu */
.menu-desktop {
  display: none;
  position: relative;
  float: left;
  width: $top-menu-width740;
  height: 60px;
  padding: 5px 0 15px;
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    > li {
      float: left;
      display: none;
      margin-right: 5px;
      text-transform: uppercase;
      &:last-child {
        margin-right: 0;
      }
      &.active > a {
        background: #f2f6f9;
        text-decoration: none;
        > span { text-decoration: none;}
      }
      &.dropdown {

        &:last-child {
          margin-right: 0;
        }
        > a {
          border: 1px solid #e6e6e6;
          padding: 8px 40px 8px 14px;
          position: relative;
          text-decoration: underline;
        }
      }
      > a {
        font-size: 16px;
        padding: 9px 15px;
        display: block;
        color: #00365e;
        @include transition(background 0.3s);
        &.disabled {
          color: #999;
          sup {
            color: #999;
          }
        }
        &:hover, &.active {
          background: #f2f2f2;
        }
        > span { text-decoration: underline;}
      }
    }
  }
  @media (min-width: $container-width-2) {
    display: block;
    ul {
      li {
        &:first-child, &:nth-child(2) {
          display: block;
        }
      }
    }
  }
  @media (min-width: $container-width-3) {
    width: $top-menu-width1070;
    ul {
      li {
        display: block;
      }
    }

  }
}
.menu-link {
  sup {
    text-decoration: none;
    color: #b50027;
    display: block;
    margin: 15px 0 0;
  }
}