.page-content {
  padding: 0 10px 25px;
  margin: 0 auto;
  @media (min-width: $container-width-1) {
    padding: 0 0 25px;
  }
}
.page-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;
  @include clearfix();
  @media (min-width: $container-width-1) {
    width: $container-width-1;
  }
  @media (min-width: $container-width-2) {
    width: $container-width-2;
  }
  @media (min-width: $container-width-3) {
    width: $container-width-3;

  }
}

.comm-header {
  padding: 35px 0 15px;
  color: $text-dark-color;
  text-align: center;
  h2 {
    font-size: 24px;
    line-height: 1.25;
    margin: 0 0 24px;
  }
  .location-title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    .location-title-wrapper {
      padding: 4px 10px;
      display: inline-block;
      border: 1px solid #d9d9d9;
    }
    .tag-remove {
      cursor: pointer;
      font-size: 14px;
      vertical-align: middle;
      line-height: 1;
    }
  }
  @media (min-width: $container-width-1) {
    padding: 94px 0 20px;
    .location-title {
      font-size: 16px;
      margin-bottom: 28px;
      .location-title-wrapper {
        padding: 7px 15px;
      }
    }
    h2 {
      font-size: 36px;
      line-height: 1.111;
      margin-bottom: 26px;
    }
  }
  @media (min-width: $container-width-1) {
    h2 {
      br {
        display: none;
      }
    }
  }
}


.comm-tags {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 6px;
    a {
      color: inherit;
      cursor: default;
    }
  }
  @media (min-width: $container-width-1) {
    font-size: 16px;
    line-height: 1.563;
    li {
      margin: 0 8px;
      sup {
        top: -0.4em;
        font-size: 60%;
      }
    }
  }
}

.comm-steps {
  padding: 15px 0 10px;
  text-align: center;
  color: $text-dark-color;
  h3 {
    font-size: 16px;
    line-height: 1.563;
    margin: 0 0 34px;
  }
  .footnote {
    font-size: 12px;
    color: $text-color;
    line-height: 1.5;
    a {
      color: inherit;
      text-decoration: underline;
      white-space: nowrap;
    }
  }
  @media (min-width: $container-width-1) {
    padding: 20px 0 20px;
    h3 {
      font-size: 20px;
    }
  }
  @media (max-width: $container-width-2) {
    h3 br, .footnote br {
      display: none;
    }
  }
}

.comm-step-list {
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix();
  li {
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-bottom: 38px;
    .red-circle {
      font-size: 20px;
      line-height: 45px;
      display: block;
      margin: 0 auto 20px;
      @include square(45px);
      position: relative;
      &::before, &::after {
        position: absolute;
        content: "";
        width: 9999px;
        height: 1px;
        background: #d9d9d9;
        left: 55px;
        display: block;
      }
      &::before {
        top: 24px;
      }
      &::after {
        top: 25px;
        -webkit-transform-origin: -32.5px 0;
        -moz-transform-origin: -32.5px 0;
        -o-transform-origin: -32.5px 0;
        -ms-transform-origin: -32.5px 0;
        transform-origin: -32.5px 0;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  @media (min-width: $container-width-1) {
    li {
      font-size: 20px;
    }
  }
  @media (min-width: $container-width-2) {
    li {
      float: left;
      width: 33.33333%;
    }
  }
}
.red-circle {
  background: $color-red;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.comm-form-wrap {
  background: #fff;
  padding: 30px 0 40px;
  border-bottom: 1px solid #e6e6e6;
  .page-container {
    max-width: 720px;
  }
  label {
    color: $text-dark-color;
  }
  .country-select {
    height: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 17px;
    border: 1px solid #D9D9D9;
    color: $text-color;
    .select2-selection__rendered {
      line-height: inherit;
      color: inherit;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .request-checkbox-group {
    @include clearfix();
    margin-bottom: 5px;
  }
  .request-checkbox {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 15px;
    height: 20px;
    padding-right: 25px;
    @include text-overflow();
  }
  .invest-form-message {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 26px 35px;
    text-align: center;
    font-size: 14px;
    &.bg-green {
      background: $color-green;
    }
    &.bg-red {
      background: $color-red;
    }
    .btn-close {
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 12px;
    }
  }
  @media (min-width: $container-width-1) {
    padding-top: 60px;
    padding-bottom: 60px;
    .country-select {
      height: 45px;
      line-height: 27px;

    }
    .request-checkbox {
      width: 33.33333%;
    }
    .invest-form-message {
      font-size: 16px;
      padding-top: 31px;
      padding-bottom: 31px;
    }
  }
  @media (min-width: $container-width-2) {
    .request-checkbox {
      float: none;
      width: auto;
      display: inline-block;
    }
    .input-group.icon-mail {
      margin-top: 32px;
      .text-input {
        padding-left: 15px!important;
      }
      &::before {
        font-size: 16px!important;
        right: 0!important;
        left: auto !important;
        line-height: 1!important;
        width: auto  !important;
        top: -30px !important;
      }
    }
    .input-group-checkbox {
      margin-top: 43px;
    }
    .invest-form-message {
      padding-top: 34px;
      padding-bottom: 34px;
    }
  }
}
#invest-map {
  width: 100%;
  height: 255px;
}
.country-dropdown {
  .select2-results__options {
    background: #fff;
    border-color: #bbd3e8;
    padding: 2px;
  }
}