.sp-filters {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $z-index-filters;
  top: 0;
  left: 0;
  background: rgba(242,242,242,.95);
  padding: 15px 20px;
  font-size: 14px;
  color: #333;
  overflow: auto;
  &.open {
    display: block;
  }
  .filter-close {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: $z-index-filters + 10;
    text-align: center;
    background: #fff;
    @include square(40px);
    font-size: 20px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    &::after {
      margin-top: 8px;
      display: inline-block
    }
  }
  .sp-filters-group {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    position: relative;
  }
  .sp-group-title {
    margin: 0 0 10px;
    display: block;
  }
  .sp-checkboxes {
    @include clearfix();
  }
  .sp-checkbox {
    margin-bottom: 10px;
    height: 20px;
    position: relative;
    padding: if($rtl, 0 0 0 10px, 0 10px 0 0);
    @include text-overflow();
    label {
      .icon::before {
        font-size: 20px;
        margin-right: 9px;
        vertical-align: bottom;
      }
    }
  }
  &.sp-filters-rent, &.sp-filters-buy {
    .filter-quality {
      padding-top: 5px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      .sp-checkbox {
        margin-bottom: 0;
      }
    }
  }
  .filter-rooms {
    .sp-checkbox {
      float: left;
      width: 50%;
    }
  }
  .filter-price-group {
    .price-select-wrap {
      display: inline-block;
      margin: if($rtl, 0 3px 0 0, 0 0 0 3px);
      width: 75px;
      vertical-align: top;
    }
    .rent-select-wrap {
      display: inline-block;
      margin: 0 0 10px;
      width: 200px;
      vertical-align: top;
    }
    .price-select {
      width: 75px;
      text-transform: uppercase;
    }
    .period-select {
      width: 105px;
      text-transform: uppercase;
    }
  }
  &.sp-filters-rent {
    .filter-price-group {
      > .price-input {
        &:last-of-type {
          margin-right: 3px;
        }
      }
    }
  }
  .filter-submit {
    margin-bottom: 5px;
  }

  @media ( min-width: $screen370 ) {
    height: auto;
    position: absolute;
    top: 54px;
    border: 1px solid #D9D9D9;
    padding: 20px 15px 10px;
    .filter-close {
      display: none;
    }
    &.sp-filters-buy {
      .sp-filters-group {
        margin-bottom: 10px;
        &.filter-type, &.filter-rooms {
          padding-bottom: 5px;
        }
      }
      .filter-price-group {
        .price-select-wrap {
          vertical-align: bottom;
        }
      }
      .sp-group-title {
        margin: if($rtl, 0 0 0 10px, 0 10px 0 0);
        height: 20px;
        vertical-align: baseline;
        display: inline-block;
        position: relative;
      }
      .filter-type, .filter-rooms {
        .sp-group-title {
          vertical-align: top;
        }
      }
      .sp-checkbox {
        display: inline-block;
        margin: if($rtl, 0 0 10px 10px, 0 10px 10px 0);
      }
      .filter-rooms {
        padding-top: 10px;
        .sp-checkbox {
          float: none;
          width: auto;
        }
      }
      .filter-quality {
        padding-top: 10px;
      }
      .filter-submit {
        text-align: right;
        margin-bottom: 0;
      }
    }
   /* .filter-price, .filter-area {
      .sp-group-title {
        top: 1px;
      }
    }*/
  }

  @media (min-width: $container-width-2) {
    width: $container-width-2 - 20;
    .sp-760-middle {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      .sp-filters-group {
        padding-bottom: 0;
        border-bottom: none;
        float: if($rtl, right, left);
        &:first-child {
          margin: if($rtl, 0 0 0 24px, 0 24px 0 0);
        }
      }
    }
    .filter-price-group {
      .rent-select-wrap {
        margin-bottom: 0;
      }
    }
    &.sp-filters-rent {
      .sp-760-middle {
        margin-bottom: 10px;
      }
      .sp-filters-group {
        margin-bottom: 10px;
        &.filter-rent-type {
          padding-bottom: 5px;
          margin-bottom: 20px;
        }
        &.filter-type, &.filter-rooms {
          padding-bottom: 5px;
        }
      }
      .filter-price-group {
        .price-select-wrap {
          vertical-align: bottom;
        }
      }
      .sp-group-title {
        margin: if($rtl, 0 0 0 10px, 0 10px 0 0);
        height: 20px;
        vertical-align: baseline;
        display: inline-block;
        position: relative;
      }
      .filter-type, .filter-rooms {
        .sp-group-title {
          vertical-align: top;
        }
      }
      .filter-conditions {
        padding-top: 10px;
        margin-bottom: 5px;
      }
      .sp-checkbox {
        display: inline-block;
        margin: if($rtl, 0 0 10px 10px, 0 10px 10px 0);
      }
      .filter-rooms {
        padding-top: 10px;
        .sp-checkbox {
          float: none;
          width: auto;
        }
      }
      .filter-quality {
        padding-top: 10px;
      }
      .filter-submit {
        text-align: right;
        margin-bottom: 0;
      }
    }
    &.sp-filters-buy {
      .filter-rooms {
        padding-top: 0;
      }
    }
    &.sp-filters-rent, &.sp-filters-buy {

      .filter-quality {
        float: if($rtl, right, left);
        border-bottom: none;
        padding: if($rtl, 10px 0 0 5px, 10px 5px 0 0);
        margin: 0;
      }
      .filter-submit {
        float: if($rtl, left, right);
        .btn-filter-submit {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
  }
}
.filter-input {
  font-size: 12px;
  height: 40px;
  background: #fff;
  border: 1px solid #b3b3b3;
  padding: 8px 10px;
  margin-bottom: 10px;
  vertical-align: baseline;
  @include placeholder(#999);
  &.price-input {
    width: 88px;
  }
  &.area-input {
    width: 65px;
  }
  @media ( min-width: $screen370 ) {
    font-size: 14px;
    .sp-filters-buy & {
      margin-bottom: 0;
      &.price-input {
        width: 80px;
      }
    }

  }
  @media ( min-width: $container-width-2 ) {
    .sp-filters-rent & {
      margin-bottom: 0;
    }
    .sp-filters-buy & {
      &.price-input {
        width: 90px;
      }
    }
  }
}
.btn-filter-submit {
  font-size: 16px;
  padding: 6px 25px;
}
.period-select-dropdown,
.price-select-dropdown {
  .select2-results__options {
    padding: 5px 3px;
    font-size: 12px;
    color: #333;
    border-color: #b3b3b3;
    background: #fff;
    max-height: 135px!important;
    text-transform: uppercase;
    .select2-results__option {
      padding: 4px 5px;
    }
  }
}
.sp-760-group {
  @extend .clearfix;
}
