input, textarea, select {
  font-weight: 400;
  &:focus {
    outline: none;
  }
}
.text-input,
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.text-input {
  background: #fff;
  border: 1px solid #bbd3e8;
  width: 100%;
  color: #323233;
  padding: 10px;
  @include placeholder(#999);
  @media (min-width: $screen370) {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
input.text-input {
  height: 40px;
  @media (min-width: $screen370) {
    height: 50px;
  }
}
/*Custom checkboxes and radios */
input[type=radio], input[type=checkbox] {
  display: none;
  + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      border: 1px solid #b3b3b3;
    }
  }
  &:checked + label::after {
    content: "";
    @include square(10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #b3b3b3;
  }
}