.rent-price-wrap {
  @include clearfix();

  ul.rent-price-list {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e6e6e6;
    line-height: 39px;
    font-size: 12px;
    @include clearfix();
    li {
      position: relative;
      float: left;
      width: 50%;
      height: 40px;
      border-bottom: 1px solid #e6e6e6;
      @include text-overflow();
      &.heading {
        color: $text-color;
      }
      &:nth-child(odd) {
        padding-right: 10px;
      }
      &:nth-child(even) {
        padding-left: 10px;
      }
    }
    @media (min-width: $screen370) {
      font-size: 14px;
    }
    @media (min-width: $screen760) {
      float: left;
      width: 25%;
      li {
        width: 100%;
      }
      &:first-child {
        width: 50%;
        li {
          width: 50%;
        }
      }
    }
  }
}