.seo-block-wrap {
  position: relative;
  padding: 10px 10px 0;
  margin-bottom: 30px;
  width: 100%;
  .map-wrap {
    position: relative;

  }
  .btn-map-wrap {
    position: relative;
    .btn-map-open {
      position: absolute;
      top: 10px;
      right: 50%;
      background: rgba(255,255,255,.9);
      width: 160px;
      margin-right: -80px;
      z-index: 80;
      padding: 3.5px 15px 3.5px 40px;
      &::before {
        font-size: 20px;
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: -10px;
      }
    }
  }
  #map-canvas {
    width: 100%;
    height: 255px;
    background: #fff;
  }
  @media (min-width: $screen370) {
    float: left;
  }
}
.map-wrap {
  position: relative;
  margin-bottom: 3em;
}
.btn-map-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  .btn-map-open {
    position: absolute;
    color: $color-red;
    top:auto;
    bottom: 10px;
    right: 10px;
    height: 30px;
    background: rgba(255,255,255,.9);
    margin-right: -80px;
    z-index: 80;
    padding: 3.5px 15px 3.5px 40px;
    &::before {
      font-size: 20px;
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -10px;
    }
    .map-opened-text {
      display: none;
    }
    &.opened {
      .map-closed-text {
        display: none;
      }
      .map-opened-text {
        display: inline;
      }
    }
  }
  @media (min-width: $screen370) {
    .btn-map-open {
      right: 10px;
      margin-right: 0;
    }
  }
}
@media (min-width: 370px) {
  .btn-map-wrap {
    width: 740px;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
  }
}
@media (min-width: 1110px) {
  .btn-map-wrap {
    width: 1110px;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
  }
}

.seo-block {
  background: #fff;
  margin: 0;
  padding: 20px 20px 40px;
  font-size: 12px;
  line-height: 1.667;
  position: relative;
  clear: both;
  .seo-toggle {
    font-size: 20px;
    bottom: 20px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    color: inherit;
  }
  h1, h2, h3, h4, h5 , h6 {
    margin: 5px 0 14px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
  }
  p {
    margin-bottom: 23px;
  }
  @media (min-width: $screen370) {
    font-size: 14px;
    h1, h2, h3, h4, h5 , h6 {
      text-align: center;
      line-height: 1.25;
      margin: 15px 0 14px;
    }
    h1 {
      font-size: 24px;
    }
  }
  @media (min-width: $container-width-2) {
    h1, p {
      max-width: 720px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}